@media screen and (min-width:1144px) {

.graphContainer {
    width: 90%;
    height: 50vh;
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
}
.graphContainer2 {
    width: 100% ;
    height: 50vh;
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
}
}
@media (min-width:767px) and (max-width:1144px){
    .graphContainer {
        width: 90%;
        height: 50vh;
        background: white;
        padding: 30px 20px 10px 20px;
        border-radius: 10px;
    }
    .graphContainer2 {
        width: 100% ;
        height: 50vh;
        background: white;
        padding: 30px 20px 10px 20px;
        border-radius: 10px;
    }
}
@media (min-width:500px) and (max-width:767px){
    .graphContainer {
        width: 100% ;
        height: 50vh;
        background: white;
        padding: 30px 10px;
        border-radius: 10px;
    }
    .graphContainer2 {
        width: 100% ;
        height: 50vh;
        background: white;
        padding: 30px 10px;
        border-radius: 10px;
    }
}
@media (max-width:500px) {
    .graphContainer {
        width: 100% ;
        height: 50vh;
        background: white;
        padding: 30px 10px;
        border-radius: 10px;
    }
    .graphContainer2 {
        width: 100% ;
        height: 50vh;
        background: white;
        padding: 30px 10px;
        border-radius: 10px;
    }
}
