.graphContainer {
    width: 80% ;
    height: 50vh;
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
}
.graphContainer2 {
    width: 105% ;
    height: 50vh;
    background: white;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
}
#mychart{
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
        height: 50vh;

    }
}